/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 128px 16px;
}
.img{
  display: flex;
  justify-content: center;
}
.Second_Admend {
width: 25%;
}